---
Language:        Cpp
BasedOnStyle:    LLVM
Standard:        c++20
IndentWidth:     4
TabWidth:        4
UseTab:          Never
ColumnLimit:     120
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements
SortIncludes:    false
IndentCaseLabels: true
DerivePointerAlignment: false
NamespaceIndentation: None
FixNamespaceComments: true
ReflowComments:  false
...
